
<!-- <h3>Table Column Mapping</h3> -->
<div class="note">Note: Column with datatype as 'DATE' will be displayed.</div>
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="container-tree">
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <!-- use a disabled button to provide padding for tree leaf -->
    <button mat-icon-button disabled></button>
    {{node.name}}
    <mat-form-field style="margin-left: 45px;">
        <mat-label>Select Format</mat-label>
        <mat-select [formControl]="toppings" multiple>
          <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
        </mat-select>
      </mat-form-field> 
</mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'toggle ' + node.name">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? '&#9662;' : '&#9656;'}}
      </mat-icon>
    </button>
    {{node.name}}
 
  </mat-tree-node>
</mat-tree>
