
:host{
    padding: 10px;
    margin:30px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    align-items: stretch;
}
.stretch{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.row-end{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.list{
    height: 300px;
    width: 100%;
    overflow: auto;
}
.row-data{
    width: 70%;
    height: 40px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    box-shadow: 0 10px 6px -6px #777;
}