<h2 style="margin-top: 5px;">Create Date Format</h2>

<div class="container">
    <mat-form-field class="example-full-width">
        <mat-label>Format Name</mat-label>
        <input matInput placeholder="Name .." >
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Date Format</mat-label>
        <input matInput placeholder="MM-DD-YYY" value="">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Description</mat-label>
        <input matInput placeholder="Description .." value="">
      </mat-form-field>
      <div>
        <button mat-raised-button color="primary" style="margin-right:15px;">Create</button>
        <button mat-raised-button color="warn">Clear</button>
      </div>
</div>

<div class="list">
  <h2 style="margin-top: 30px;">List of Date Format</h2>
  <div class="row-data" *ngFor="let data of formatData">
    <span>{{ data.name }}</span>
    <span> {{ data.format }} </span>
    <div>
      <button mat-stroked-button color="primary" style="margin-right:15px;">Edit</button>
      <button mat-stroked-button color="warn" style="margin-right:15px;">Delete</button>
    </div>
  </div>
</div>